<% if @is_right_card then %>
	<div id='res'>
	◎	
	</div>
<% else %>
	<div id='res'>
	×	
	</div>
<% end %>

<p>
あなたが取った札
</p>

<!-- 部分テンプレートを使ってみる -->
<%= render 'shared/detail' %>

<p>
<% if @is_right_card == false then %>
	<%= link_to '再チャレンジ', '/cards/question/' << @draw_card.card_id %>| 
<% end %>

<%= link_to '次へ', '/cards/question' %>
</p>
