<p>
<%= image_tag 'yomite.jpg', :id => 'yomite', :width => 150 %>
<div id = "hint_1">
<div id="fukidashi">
	<%= image_tag 'fukidashi.jpg', :width => 320, :heigth => 20 %>
</div>
<div id="kaminoku">
<%= @subject_poem.first_half %>...
</div>
</div>
</p>

<script type = "text/javascript" charset = "utf-8"><!--
	$(document).ready(function(){
		$('#hint_1').hide();
		$('#yomite').jrumble({
			x: 3,
			y: 3,
			rotation:2,
			speed:80 
		});
	});
	$('#yomite').hover(function(){
			$('#hint_1').show(2000);
			$(this).trigger('startRumble');
			}, function(){
			$(this).trigger('stopRumble');
	});

	//--></script>

<p>
<% @remining_poems.each do |poem| %>
<%= link_to image_tag(poem.lasthalf_imagefile, :width => 100),check_answer_path(@subject_poem,poem)%>
<%	end %>
</p>
