// Place all the styles related to the japanese_poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//-------------
//上の句の部分

#yomite{
	width: 100px;
	display: block;
	float: left;
}

#kaminoku{
	position:relative;
	display: block;
	margin-left: 100px;
}

#first_half{
	font-size: 15px;	
	position: absolute;
	top: 25px;
	left: 30px;	
}

#fukidashi{
	font-size: 15px;	
	position: absolute;
}

#question{
	display: block;
	height: 230px;
}


//-------------
//ヒントの部分

#help{
	display: block;
	position: relative;	
	overflow: hidden;
	margin-top: 90px;
	margin-right: 60px;
	float: right;
}

#helper{
	margin-top:0px;
	float: right;
}

#hint{
	float: left;
	width: 300px;
	margin: auto;
	margin-bottom: 50px;
	position:relative;
}

.hint-str{
	display: block;
	font-size: 12px;
	width: 230px;
	margin-right: 40px;
	padding: 15px 20px;
	color: gray;
	background-color: #ffffb2;

	-moz-border-radious: 20px;
	-webkit-border-radious: 20px;
	-khtml-border-radious: 20px;
	border-radius: 20px;
}

.triangle{
	width: 0;
	height: 0;
	border-top: 10px solid #ffffb2;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
	float: right;
	margin-top: 30px;
	margin-right: 10px;
}

//-------------
//回答の部分

#res{
	font-size: 30px;
	color: teal;
	margin-top: 30px;
	margin-bottom: 20px;
}

.subtitle{
	font-size: 15;
	padding: 3px;
	margin-top: 10px;
	margin-botom: 10px;
	color: olive; 
	background-color: beige;
}


